<nav id="brands" class="navbar navbar-light bg-light px-3">
  <a class="navbar-brand"
    ><h5><font color="red">Renkler</font></h5></a
  >

  <div
    *ngIf="dataLoaded == false"
    class="spinner-grow text-warning"
    role="status"
  >
    <span class="visually-hidden">Loading...</span>
  </div>

  <div class="mb-3">
    <label for="filterText" class="form-label"><h6>Renk Sorgula</h6></label>
    <input
      type="text"
      [(ngModel)]="filterText"
      class="form-control"
      id="renk sorgula"
      placeholder="sorgula!"
      appColor
    />
  </div>
  <div *ngIf="filterText" class="alert alert-success">
    {{ filterText }} sorguladınız!
  </div>
</nav>

<div style="height: 125px; overflow-x: hidden; overflow-y: scroll">
  <ul *ngIf="dataLoaded == true" class="list-group">
    <li
      (click)="clearCurrentColor()"
      [class]="getAllColorClass()"
      routerLink="/cars"
      class="list-group-item"
    >
      <th>Renkler</th>
    </li>
    <li
      (click)="setCurrentColor(color)"
      routerLink="/cars/color/{{ color.colorId }}"
      *ngFor="let color of colors | filterColor: filterText"
      [class]="getCurrentColorClass(color)"
    >
      {{ color.colorName }}
    </li>
  </ul>
  <br/>
</div>
<h6 *ngIf="currentColor">{{ currentColor.colorName }} rengi seçtiniz!</h6>
