<nav class="navbar navbar-expand-lg navbar-success bg-light" style="background-color: #1f7abb;" > 
  <div class="container-fluid">
    
    <a class="navbar-brand" href="#">Yahya Erdoğan & Rent A Car Project</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/cars"
            >Ana Sayfa</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <app-rent-summary> </app-rent-summary>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Liste
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/categories/list"><h6>Kategori Listesi</h6></a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/cars/list"><h6>Araç Listesi</h6></a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/brands/list"><h6>Marka Listesi</h6></a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/colors/list"><h6>Renk Listesi</h6></a
              >
            </li>          
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Ekle
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">            
            <li>
              <a class="dropdown-item" routerLink="/categories/add"><h6>Kategori Ekle</h6></a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/cars/add"><h6>Araç Ekle</h6></a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/brands/add"><h6>Marka Ekle</h6></a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/colors/add"><h6>Renk Ekle</h6></a>
            </li>
          </ul>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#">Hizmetlerimiz</a>
        </li>
      </ul>     
      <div *ngIf="isAuth() && getCurrentCustomer()">
        <div class="dropdown">

          <button class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown">
            <i class="bi-person-circle me-1"></i>
            {{ getCurrentCustomer().firstName }} {{ getCurrentCustomer().lastName}}           
          </button>
      
          <div class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
            <div class="dropdown-item cursor-none">
              <i class="bi-check2 me-1"></i>
              {{ getCurrentCustomer().findexPoint }} Findex Puanım
            </div>
      
            <hr class="dropdown-divider" />
      
            <div class="dropdown-item" routerLink="/profile">
              <i class="bi-pencil me-1"></i> Profili Düzenle
            </div>
      
            <div class="dropdown-item" (click)="logout()">
              <i class="bi-box-arrow-right me-1"></i> Çıkış Yap
            </div>
          </div>
        </div>
      </div>     
    </div>   
    <div *ngIf="!isAuth()">
      <button
        class="btn btn-outline-primary rounded-pill px-4"
        routerLink="/register"
      >
        <i class="bi-person-fill me-1"></i> Üye Ol
      </button>
    
      <button class="btn btn-success rounded-pill px-4 ms-lg-2" routerLink="/login">
        <i class="bi-box-arrow-in-right me-1"></i> Giriş Yap
      </button>
    </div>
  </div>  
</nav>
