<div class="content">
    <div class="col-md-2">
        <div class="card">
            <div class="card-header"><h5 class="title" >Marka Ekle</h5></div>
            <div class="card-body">
                <form [formGroup]="brandAddForm">

                    <!-- <div class="mb-3">
                        <label for="brandId"><h6>Marka No</h6></label>
                        <div class="form-group">
                            <input type="number" 
                            id="brandId" 
                            formControlName="brandId" class="form-control" 
                            placeholder="marka no"/>
                        </div>
                    </div> -->

                    <div class="mb-3">
                        <label for="brandName"><h6>Marka</h6></label>
                        <div class="form-group">
                            <input type="text" 
                            id="brandName" 
                            formControlName="brandName" class="form-control" 
                            placeholder="marka ismi"/>
                        </div>
                    </div>                   

                   <div class="mb-3">
                    <label for="brandModel"><h6>Model</h6></label>
                    <div class="form-group">
                        <input type="text" 
                        id="brandModel" 
                        formControlName="brandModel" class="form-control" 
                        placeholder="model"/>
                    </div>
                   </div>

                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-success" (click)="add()">Ekle</button> 
            </div>
        </div>
        
    </div>
    
</div>
