<div  class="d-grid gap-2 col-6 mx-auto" class="diveder" style="border: 1px solid rgb(223, 23, 23); margin-top: 100px"></div>

<form class="d-grid gap-2 col-6 mx-auto" [formGroup]="rentalForm" >
<div class="col-md-12" style="margin-bottom: 100px; margin-top: 50px">
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom01">Kiralama Tarihi</label>
      <input
        class="form-control"
        type="datetime-local"
        value=""
        (change)="calcTotalPrice()"
        formControlName="rentDate"  
        min="{{ rentdate | date:'yyyy-MM-dd' }}"
        id="rentDate"
        required
      />
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationCustom02">Teslim Tarihi</label>
      <input
        formControlName="returnDate" 
        min="{{ returndate | date:'yyyy-MM-dd' }}" 
        (change)="calcTotalPrice()"
        class="form-control"
        type="datetime-local"
        value=""
        id="returnDate"
      />
    </div>
  </div>
  <div class="form-row" style="width: 50%">
    <label for="select_customer"><h6> Müşteri  : </h6></label>
    <select
      id="select_customer"
      class="custom-select"
      formControlName="customerId"
      aria-placeholder="All Customers"
      type="number"
    >
      <option
        *ngFor="let customerDetailDto of customerDetailDtos"
        type="number"
        [value]="customerDetailDto.customerId"
      >
        {{ customerDetailDto.firstName }} {{ customerDetailDto.lastName }} 
      </option>
    </select>
  </div>
  <div class="mb-3">
    <div class="form-group" id="totalPrice"> 
      <h6> Toplam ücret : {{ totalPrice  | currency: "TRY" :"₺" }} </h6> 
    </div>
  </div> 
  <div class="d-grid gap-2" >
    <button type="button" class="btn btn-success" 
    routerLink="/cardlist"
    (click)="addToRent()">
      Sepete Ekle
    </button>    
  </div>
</div>
</form>

