<div class="container">
  <app-navi></app-navi>
  <div class="row">
    <div class="col-md-3">
      <app-category></app-category>
      <app-brand></app-brand>
      <app-color></app-color>    
    </div>
    
    <div class="col-md-9">
      <!-- <app-car></app-car> -->
      <!-- <app-car-detail-dto></app-car-detail-dto>
      <app-rental></app-rental>
      <app-rental-detail-dto></app-rental-detail-dto>
      <app-customer></app-customer>
      <app-customer-detail-dto></app-customer-detail-dto>
      <app-user></app-user> -->
      <router-outlet></router-outlet>
    </div>
  </div>
  
</div>
