<div class="content">
    <div class="col-md-2">
        <div class="card">
            <div class="card-header"><h5 class="title" >Kategori Ekle</h5></div>
            <div class="card-body">
                <form [formGroup]="categoryAddForm">

                    <!-- <div class="mb-3">
                        <label for="categoryId"><h6>Renk No</h6></label>
                        <div class="form-group">
                            <input type="number" 
                            id="categoryId" 
                            formControlName="categoryId" class="form-control" 
                            placeholder="kategori no"/>
                        </div>
                    </div> -->

                    <div class="mb-3">
                        <label for="categoryName"><h6>Kategori</h6></label>
                        <div class="form-group">
                            <input type="text" 
                            id="categoryName" 
                            formControlName="categoryName" class="form-control" 
                            placeholder="kategori ismi"/>
                        </div>
                    </div>                 

                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-success" (click)="add()">Ekle</button> 
            </div>
        </div>
        
    </div>
    
</div>


