<li *ngIf="rentItems.length > 0" class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    id="navbarDropdown"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Sepetiniz
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li *ngFor="let rentItem of rentItems">
      <a  class="dropdown-item">
        {{ rentItem.carName }}
        <span
          (click)="removeFromRent(rentItem)"
          class="badge bg-danger"
          >sil</span
        >
      </a>
    </li>

    <li><hr class="dropdown-divider" /></li>
    <li >
      <a routerLink="cardlist" class="dropdown-item" 
        ><h6>Sepetime Git ></h6></a
      >
    </li>
  </ul>
</li>
