<div
  *ngIf="dataLoaded == false"
  class="spinner-grow text-warning"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<div *ngIf="dataLoaded == true" class="customer"></div>
<br />
<th>Müşteri Listesi</th>
<table *ngIf="dataLoaded == true" class="table table-hover">
  <thead>
    <tr>
      <th>Müşteri Id</th>
      <th>Adı</th>
      <th>Soyadı</th>
      <th>Şirket Adı</th>
      <th>Email Adres</th>
      <th>Findex Puanı</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customerDetailDto of customerDetailDtos">
      <td>{{ customerDetailDto.customerId }}</td>
      <td>{{ customerDetailDto.firstName }}</td>
      <td>{{ customerDetailDto.lastName }}</td>   
      <td>{{ customerDetailDto.email }}</td>
      <td *ngIf="customerDetailDto.companyName">{{ customerDetailDto.companyName }}</td>
          <td *ngIf="!customerDetailDto.companyName" class="text-muted">Şirket bilgisi yok</td>
          <td>{{ customerDetailDto.findexPoint }}</td>
    </tr>
  </tbody>
</table>
